<launch>


		<arg name="record_cameras" default="false" />
		<arg name="record_position" default="true" />
		<arg name="record_diagnostics" default="false" />
		<arg name="exp_name" default="data" />

		<node pkg="rosbag" type="record" name="rosbag_record_cam"
		args="record -o /tmp/$(arg exp_name)_cams /porter/rs_camera/aligned_depth_to_color/image_raw /porter/rs_camera/color/image_raw /porter/rs_camera/aligned_depth_to_color/camera_info /porter/rs_camera/color/camera_info"
		if="$(arg record_cameras)" />

		<node pkg="rosbag" type="record" name="rosbag_record_hrpsys"
		args="record -o /tmp/$(arg exp_name)_pos /porter/rtabmap/odom /tf /hedge_pos /porter/openvslam/rgbd_odom /porter/orb_slam2_rgbd/pose /porter/odometry/filtered /beacon_raw_distance /porter/igps/filtered /porter/imu/filtered /hedge_pos_ang"
		if="$(arg record_position)" />

		<node pkg="rosbag" type="record" name="rosbag_record_diag"
		args="record -o /tmp/$(arg exp_name)_diag /diagnostics /rosout"
		if="$(arg record_diagnostics)"/>   


</launch>
