<launch>
	<include file="$(find ouster_driver)/launch/os1.launch" ns="porter">
		<arg name="lidar_address" value="10.5.5.80" />
		<arg name="node_name" value="os1_cloud_node" />
		<arg name="pc_address" value="10.5.5.1" />
		<arg name="pointcloud_mode" value="NATIVE" />
		<arg name="lidar_frame_name" value="os1_lidar" />
		<arg name="lidar_topic_name" value="/porter/os1_cloud_node/points" />
		<arg name="imu_frame_name" value="os1_imu" />
		<arg name="imu_topic_name" value="/porter/os1_cloud_node/imu" />
		<arg name="operation_mode" value="1024x20" />
		<arg name="window_rejection" value="" />
	</include>
</launch>
