<launch>
	<group ns="porter">

		<include file="$(find realsense2_camera)/launch/rs_camera.launch">

			<arg name="camera"	value="base"/>

			<arg name="enable_color"        value="true"/>
			<arg name="enable_depth"        value="true"/>
			<arg name="enable_gyro"         value="false"/>
			<arg name="enable_accel"        value="false"/>
			<arg name="enable_fisheye"	value="false"/>
			<arg name="enable_infra1"       value="false"/>
			<arg name="enable_infra2"       value="false"/>

			<arg name="color_width"         value="640"/>
			<arg name="color_height"        value="480"/>
			<arg name="depth_width"         value="640"/>
			<arg name="depth_height"        value="480"/>

			<arg name="color_fps"           value="30"/>
			<arg name="depth_fps"           value="30"/>
			<arg name="gyro_fps"            value="200"/>
			<arg name="accel_fps"           value="63"/>

			<arg name="fisheye_fps"         value="30"/>
			<arg name="infra_fps"           value="30"/>

			<arg name="filters"	value=""/>
			<arg name="enable_sync"	value="true"/>
			<arg name="align_depth"	value="false"/>
			<arg name="linear_accel_cov"	value="1.0"/>
			<arg name="unite_imu_method"	value="linear_interpolation"/>

			<arg name="publish_tf"                default="true"/>
			<arg name="tf_publish_rate"           default="30"/>
	  		<arg name="publish_odom_tf"	value="true"/>
		</include>
	</group>
</launch>
