[submodule "dragandbot_common"]
	path = dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
[submodule "odrive_ros"]
	path = odrive_ros
	url = https://github.com/neomanic/odrive_ros.git

[submodule "ODrive"]
	path = ODrive
	url = https://github.com/madcowswe/ODrive
[submodule "ODrive-ros-for-diploma"]
	path = ODrive-ros-for-diploma
	url = https://github.com/d-desiatkin/ODrive-ros-for-diploma.git
[submodule "ouster"]
	path = ouster
	url = https://github.com/CPFL/ouster.git
