[submodule "dragandbot_common"]
	path = dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git

[submodule "ouster"]
	path = ouster
	url = https://github.com/d-desiatkin/ouster.git

[submodule "cartographer_ros"]
	path = cartographer_ros
	url = https://github.com/googlecartographer/cartographer_ros.git

[submodule "cartographer"]
	path = cartographer
	url = https://github.com/googlecartographer/cartographer.git

[submodule "ceres-solver"]
	path = ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver.git

[submodule "orb_slam_2_ros"]
	path = orb_slam_2_ros
	url = https://github.com/appliedAI-Initiative/orb_slam_2_ros.git

[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git

[submodule "ros_marvelmind_package"]
	path = ros_marvelmind_package
	url = https://bitbucket.org/marvelmind_robotics/ros_marvelmind_package.git

