<launch>
    <arg name="offline"          default="false"/>

	<group ns="porter">

		<include unless="$(arg offline)"
			file="$(find realsense2_camera)/launch/rs_camera.launch">

			<arg name="camera"	value="rs_camera"/>

			<arg name="enable_color"        value="true"/>
			<arg name="enable_fisheye"	value="false"/>
			<arg name="enable_depth"        value="true"/>
			<arg name="enable_gyro"         value="true"/>
			<arg name="enable_accel"        value="true"/>
			<arg name="enable_infra1"       value="false"/>
			<arg name="enable_infra2"       value="false"/>

			<arg name="color_width"         value="640"/>
			<arg name="color_height"        value="480"/>
			<arg name="depth_width"         value="640"/>
			<arg name="depth_height"        value="480"/>
			<arg name="gyro_fps"            value="200"/>
			<arg name="accel_fps"           value="63"/>

			<arg name="align_depth"		value="true"/>
			<arg name="enable_sync"         value="true"/>
			<arg name="linear_accel_cov"	value="1.0"/>
			<arg name="unite_imu_method"	value="linear_interpolation"/>
		</include>

	<!--	<include file="$(find ouster_driver)/launch/os1.launch">
			<arg name="lidar_address" value="10.5.5.80" />
			<arg name="node_name" value="os1_cloud_node" />
			<arg name="pc_address" value="10.5.5.1" />
			<arg name="pointcloud_mode" value="NATIVE" />
			<arg name="lidar_frame_name" value="os1_lidar" />
			<arg name="lidar_topic_name" value="/porter/os1_cloud_node/points" />
			<arg name="imu_frame_name" value="os1_imu" />
			<arg name="imu_topic_name" value="/porter/os1_cloud_node/imu" />
			<arg name="operation_mode" value="512x10" />
			<arg name="window_rejection" value="" />
		</include>	
	-->
	

		<node pkg="imu_filter_madgwick" type="imu_filter_node" name="rsImuFilter">
			<param name="use_mag" type="bool" value="false" />
			<param name="publish_tf" type="bool" value="false" />
			<param name="world_frame" type="string" value="enu" />
			<param name="remove_gravity_vector" type="bool" value="false" />
			<remap from="/porter/imu/data_raw" to="/porter/rs_camera/imu"/>
			<remap from="/porter/imu/data" to="/porter/rs_camera/imu_filtered"/>
			
			
		</node>


		<group ns="rtabmap">

			<arg name="frame_id"		default="chasiss"/>
			<arg name="publish_tf_odom"	default="false"/>
			<arg name="approx_sync"		default="false"/>

			<node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
				<remap from="rgb/image"       to="/porter/rs_camera/color/image_raw"/>
				<remap from="depth/image"     to="/porter/rs_camera/aligned_depth_to_color/image_raw"/>
				<remap from="rgb/camera_info" to="/porter/rs_camera/color/camera_info"/>
				<param name="approx_sync"       value="$(arg approx_sync)"/>
				<param name="queue_size"       value="1"/>
			</node>

			<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
				<param name="frame_id" type="string" value="$(arg frame_id)"/>

				<param name="subscribe_rgb" type="bool" value="false"/>
				<param name="subscribe_depth" type="bool" value="false"/>
				<param name="subscribe_rgbd" type="bool" value="true"/>
				<param name="subscribe_scan_cloud" type="bool" value="false"/>

				<remap from="odom" to="/porter/odometry/filtered"/>
				<!-- <remap from="scan_cloud" to="/porter/os1_cloud_node/points"/> -->
				<!-- <remap from="rgbd_image" to="/porter/rtabmap/rgbd_image"/> -->
				<!-- <remap from="imu" to="/porter/rs_camera/imu_filtered"/> -->
				

				<param name="queue_size" type="int" value="10"/>

				<!-- RTAB-Map's parameters -->
				<param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
				<param name="RGBD/ProximityBySpace"     type="string" value="true"/>
				<param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
				<param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
				<param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>

				<param name="Grid/FromDepth"            type="string" value="false"/> <!-- occupancy grid from lidar -->

				<param name="Grid/FootprintHeight"      type="string" value="0.5"/> 
				<param name="Grid/FootprintLength"      type="string" value="0.8"/>
				<param name="Grid/FootprintWidth"	type="string" value="0.8"/>
				
				<param name="Grid/MaxObstacleHeight"	type="string" value="0.8"/>
				
				<!-- <param name="ORB/Gpu"			type="string" value="true"/> -->


				<param name="Reg/Force3DoF"             type="string" value="false"/>
				<param name="Reg/Strategy"              type="string" value="0"/> <!-- 1=ICP -->

				<!-- ICP parameters -->
				<param name="Icp/VoxelSize"                 type="string" value="0.05"/>
				<param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
			</node>

			<node name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry" output="screen" args="--delete_db_on_start">
				<param name="frame_id"		type="string"	value="$(arg frame_id)"/>
				<param name="publish_tf"	type="bool"	value="$(arg publish_tf_odom)"/>
				<param name="subscribe_rgbd"	type="bool"	value="true"/>
				<param name="approx_sync"	type="bool"	value="$(arg approx_sync)"/>

				<!-- <remap from="rgbd_image" to="/porter/rtabmap/rgbd_image"/> -->

			</node>
			

		</group>


		<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
			<rosparam command="load" file="$(find porter_2dnav)/config/opensource_tracking/ekf_params.yaml" />

			<!--  Placeholder for output topic remapping
			<remap from="odometry/filtered" to=""/>
			<remap from="accel/filtered" to=""/>
			-->
		</node>

		
		<node pkg="move_base" type="move_base" name="move_base">
			<!-- <param name="clearing_rotation_allowed" value="false"/> -->
			<rosparam file="$(find porter_2dnav)/config/opensource_tracking/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
			<rosparam file="$(find porter_2dnav)/config/opensource_tracking/costmap_common_params.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find porter_2dnav)/config/opensource_tracking/local_costmap_params.yaml" command="load" />
			<rosparam file="$(find porter_2dnav)/config/opensource_tracking/global_costmap_params.yaml" command="load" /> 
			<rosparam file="$(find porter_2dnav)/config/opensource_tracking/base_local_planner_params.yaml" command="load" />
			<remap from="cmd_vel" to="/porter/diff_drive_controller/cmd_vel" />
			<remap from="odom" to="/porter/odometry/filtered" />
			<remap from="map" to="/porter/rtabmap/grid_map"/>
		</node>

	</group>

</launch>
