<launch>
	
	<arg name="scan_topic" value="/porter/os1_cloud_node/scan" />
	
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="porter_lidar_converter" >
	<remap from="cloud_in" to="/porter/os1_cloud_node/points" />
	<remap from="/scan" to="$(arg scan_topic)" />
	</node>
	
	<param name="use_sim_time" value="false"/>

	<node pkg="openvslam" type="run_slam" name="openvslam" args="-v $(find openvslam)/../../config/orb_vocab.dbow2  -c $(find openvslam)/../../config/test.yaml ">
		<remap from="camera/image_raw" to="right/image_raw" />
		
	</node>

</launch> 
