<launch>
	
	<arg name="scan_topic" value="/porter/os1_cloud_node/scan" />
	
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="porter_lidar_converter" >
	<remap from="cloud_in" to="/porter/os1_cloud_node/points" />
	<remap from="/scan" to="$(arg scan_topic)" />
	</node>
	
	<param name="use_sim_time" value="true"/>
	
	<master auto="start"/>

	<node pkg="openvslam" type="run_slam" name="openvslam" args="-v /path/to/orb_vocab.dbow2 ">
		
	</node>

</launch> 
