<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="porter">
    
    <gazebo reference="${base_name}">
		<mu1 value="200.0"/>
		<mu2 value="100.0"/>
		<kp value="2147483647.0" />
		<kd value="1.0" />
		<material>Gazebo/White</material>
	</gazebo>
    
    <gazebo>
    
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/porter</robotNamespace>
		</plugin>
		
    </gazebo>
    
</robot>
