<launch>
	<!-- This needed due to bug in rviz visualization on melodic. When bug is fixed line below could be deleted -->
	<env name="LC_NUMERIC" value="en_US.UTF-8" />


	<node pkg="cv_camera" type="cv_camera_node" name="left_camera">
		<param name="device_path" value="/dev/stereo0/left" />
		<param name="frame_id" value="/stereo/left" />
		<param name="camera_name" value="CNS-CWC6:U79085000613" />
		<param name="camera_info_url" value="" />
		<param name="image_width" value="1920" />
		<param name="image_height" value="1080" />
		<param name="cv_cap_prop_fourcc" value="MJPG" />
		<param name="rate" value="30" />
	</node>

	<node pkg="cv_camera" type="cv_camera_node" name="right_camera">
		<param name="device_path" value="/dev/stereo0/right" />
		<param name="frame_id" value="/stereo/right" />
		<param name="camera_name" value="CNS-CWC6:U79085000764" />
		<param name="camera_info_url" value="" />
		<param name="image_width" value="1920" />
		<param name="image_height" value="1080" />
		<param name="cv_cap_prop_fourcc" value="MJPG" />
		<param name="rate" value="30" />
	</node>


</launch>
