<launch>
	<!-- This needed due to bug in rviz visualization on melodic. When bug is fixed line below could be deleted -->
	<env name="LC_NUMERIC" value="en_US.UTF-8" />


	<node pkg="usb_cam" type="usb_cam_node" name="test">
		<param name="video_device" value="/dev/video1" />
		<param name="camera_frame_id" value="left" />
		<param name="camera_name" value="CNS-CWC6:U79085000613" />
		<param name="camera_info_url" value="" />
		<param name="image_width" value="1920" />
		<param name="image_height" value="1080" />
		<param name="pixel_format" value="yuyv" />
		<param name="framerate" value="30" />
		<param name="autofocus" value="false" />
		<!--Image settings -->
		<param name="brightness" value="0" />
		</node>


</launch>
